

    div.b {
    line-height: 1.6;
    padding-left: 96px;
    padding-right: 96px;
    margin-bottom:  400px;
    margin-top: 30px;
    }


    div.background {
      background-color: Lavender;

    }

    div.line {
      border-bottom: 1px solid gray;
      padding-top: 13px;
      padding-bottom: 13px;
      font-size:4vw;
    }

    div.colorline {
      border-bottom: 9px solid MediumSlateBlue;
    }

    div.txt {
      text-align: left;

    }

    div.right {
      text-align: right;
    }

    div.alone {
      font-size:4vw;
    }

    div.cov {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h1 {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 80px;
      font-size:4vw;
    }

  h3 {
    font-size:4vw;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

    p  {
    font-size:4vw;
    }


    a {
    font-size:4vw;
    }
